modules = ["nodejs-20:v8-20230920-bd784b9"]
run = "node CodeWithHarry/JavaScript/06_Operators_And_Expressions.js"


[interpreter]
command = [
    "prybar-nodejs",
    "-q",
    "--ps1",
    "\u0001\u001b[33m\u0002\u0001\u001b[00m\u0002 ",
    "-i"
]


