<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
  </head>
  <body>
    <!-- To include another file use '-' -->
    <!-- We can overwite variables too -->
    <%-include('nav', {name:"Rajuuuu"}) %>
    <div>
      <!-- To pass value to variable use = -->
      <%= sn%>
    </div>
  </body>
</html>
