@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&display=swap');

:root{
    --bgcolor: rgb(255, 192, 203);
    --brnad: rgb(232, 42, 42);
    --item-hover-color: rgb(238, 146, 48);
    --item-hover-bg: black;
}

body{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    display: flex;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 23px;
    background-color: var(--bgcolor);
    font-family: 'Poppins';
}

.brand{
    font-size: large;
    font-weight: 1000;
    color: var(--brnad);


}

.nav-items{
    display: flex;
    gap: 23px;
    justify-content: space-between;
}

.nav-items li:hover{
    font-weight: bolder;
    cursor: pointer;
    border-radius: 12px;
    color: var(--item-hover-color);
}