/*Navigation main*/
.main-nav{
    background-color: #f7f7f8;
}
body{
 font-family: sans-serif;
 margin: 0px;
}
a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c404a;
    text-decoration: none;
}
video{
    border: solid 4px brown;
    border-radius: 22px;
}
#selected{color: purple;}
/* Intro */
#intro{
    background-color: darkgray;
    color: #f7f7f8;
}
/* Product */
.product-card{
    /*      shape  px      colour*/
    background-color: #E9E6F0;
    border-radius: 25px;
    width: 250px;
    margin: 5px;
}
.image{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /* OR border-raidus: 20px 20px 0 0 */
}
footer{
    background-color: #2B2343;
    height: 300px;
    width: 100%;
    text-align: center;
    color: white;
}
#term{
    color: blue;
}

