
body{
    font-family: sans-serif;
    margin: 0px;
   }/*Navigation main*/
.main-nav{
    background-color: #f7f7f8;
    padding: 10px;
}
header{
    display: flex;
}
.main-nav a:hover{
    color: #fb6376;
}
a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c404a;
    text-decoration: none;
}
video{
    border: solid 4px brown;
    border-radius: 22px;
    border-width: 5px;
}
#selected{color: purple;
width: auto;}
/* Intro */

#intro{
    background-color: darkgray;
    color: #f7f7f8;
    width: 100%;
}
/* Main content */
#nav-cat{
background-color: crimson;
width: 100%;
margin-bottom: 1rem;
}
#nav-cat a{
    color: white;
}
/* Product */
.product-card{
    /*      shape  px      colour*/
    background-color: #E9E6F0;
    border-radius: 25px;
    width: 250px;
    margin: auto;
}
.image{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /* OR border-raidus: 20px 20px 0 0 */
}
footer{
    background-color: #2B2343;
    height: 150px;
    width: 100%;
    text-align: center;
    color: white;
}


